body {
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: white;
}


/* Index */

.home-container {
    margin: 0;
    padding: 0;
    background: url("../images/Welcome.png") no-repeat center/cover;
    height: 100vh;
    position: relative;
    overflow-y: hidden
}


/* FORM AREA START HERE */

.main-div {
    width: 70%;
    margin: 5% auto 5%;
}

.main-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.main-div p {
    padding: 5px;
}

.main-div .image-png h3 {
    position: relative;
    bottom: 90%;
    right: 26%;
    color: #ccc5c5;
}

.main-div .image-png span {
    color: #EF8C8C;
}

.main-div .image-png img {
    /* background: #371d78; */
    width: 100%;
    height: 580px;
}


/* kdvdlv */

.main-div .form-area {
    color: grey;
    padding-left: 40px;
    border: 1px solid lightgray;
    height: 580px;
    padding-right: 40px;
    padding-top: 70px
}

.main-div .logo-on-small {
    display: none;
}

.main-div h6 {
    font-size: 17px;
}

.main-div h5 {
    font-size: 20px;
}

.main-div h5 {
    color: #371d78;
    font-size: 19px;
}

.main-div .form-area input {
    display: block;
    /* padding: 0px 100px 0px 100px; */
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 8px;
    border-radius: 1px;
}

.main-div .form-area .pop:focus {
    outline: none;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid #371d78;
}

.main-div .form-area .btn {
    display: block;
    width: 100%;
    background: #371d78;
    color: white;
}

.main-div .form-area .google-btn {
    background: #EF8C8C;
}

.main-div .form-area .form-box {
    position: relative;
}

.form-box .icon {
    position: absolute;
    top: 30px;
    right: 5px;
}

.icon .icon-img {
    height: 20px;
    width: 19px;
    display: block;
    /* margin-left: 20px; */
}

.main-div .form-area .change {
    margin-top: 20px;
}

.main-div .form-area .change a {
    color: #EF8C8C;
}

.main-div .form-area .login :link,
:visited {
    color: #371d78;
}

.main-div .form-area .login:hover {
    color: #7b57d6;
}


/* Error text */


/* .main-div .form-area .form-box .text {
    font-size: 12px;
} */

.main-div .form-area .form-box .invalid:focus {
    /* border: 1px solid red; */
    outline: none;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid red;
}

.main-div .form-area .form-box .valid:focus {
    /* border: 2px solid green; */
    outline: none;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid green;
}

.main-div .form-area .form-box .text {
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    /* color: red;
    opacity: 0; */
    height: 0;
}


/* .main-div .form-area .form-box .anime {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .2rem;
    display: block;
    letter-spacing: .1rem;
    transition: all .3s;
}


/* Medium and small screen */

@media all and (max-width: 768px) {
    .container {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .main-div .form-area {
        padding-right: 40px;
        padding-top: 65px;
    }
    .main-div .image-png {
        display: none;
    }
    .main-div .logo-on-small {
        display: block;
        color: #757171;
        position: relative;
        bottom: 50px;
        right: 150px;
    }
    .main-div .logo-on-small span {
        color: #EF8C8C;
    }
}

@media all and (max-width: 584px) {
    .main-div .logo-on-small {
        bottom: 50px;
        left: 100px;
    }
}

@media all and (max-width: 500px) {
    .main-div {
        width: 100%;
        margin: 5% auto 5%;
    }
    .main-div .logo-on-small {
        left: 0px;
    }
}